{{!-- <p>{{oneHotel.name}}</p>
burası tema 1 index

    <ul>
        {{#each oneHotel}}
            <li>{{this}}</li>
        {{/each}}
    </ul> --}}
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/public/theme1/img/destiny/4.webp" class="d-block w-100" alt="Kemer Tekne Turu">
            </div>
            <div class="carousel-item">
                <img src="/public/theme1/img/chayka/4.webp" loading="lazy" class="d-block w-100" alt="Kemer Tekne Turu">
            </div>
            <div class="carousel-item">
                <img src="/public/theme1/img/lusca/5.webp" loading="lazy" class="d-block w-100" alt="Kemer Tekne Turu">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev" aria-label="Prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>

        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next" aria-label="Next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

        </button>
    </div>

    <style>
        .carousel-item img {
            width: 100%;
            height: 100vh;
            object-fit: cover
        }
    </style>

    <div class="b-about">
        <div class="ui-decor ui-decor_down"></div>
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-6"
                    style="display: flex; align-content: center; justify-content: center; align-items: center;">
                    <img src="/public/theme1/img/main/1.webp" class="mw-100" alt="Kemer Yat Turu">
                </div>
                <div class="col-lg-6">
                    <div class="text-start pl-3">
                        <h1 style="display: none;">Kemer Yat Turu Kemer Tekne Turu</h1>
                        <h2 class="ui-title mt-4">Kemer Yat Turu: Eşsiz Deneyim ve Muhteşem Manzaralar</h2>
                        <div class="ui-content">
                            <p>
                                Tatilcilerin gözdesi olan Kemer, sadece doğal güzellikleriyle değil, aynı zamanda deniz
                                turizmiyle de büyülemektedir. Kemer yat turu, unutulmaz anılar biriktirmek isteyenler
                                için ideal bir seçenektir. Bu makalemizde, Kemer yat turlarının ne kadar özel olduğunu
                                ve nasıl planlanabileceğini keşfedeceksiniz.

                            </p>
                            <ul class="arrow-list">
                                <li>
                                    <i class="fas fa-long-arrow-alt-right"></i>Lüks Tekneler
                                </li>
                                <li>
                                    <i class="fas fa-long-arrow-alt-right"></i>Üst Düzey Hizmet
                                    Kalitesi
                                </li>
                                <li>
                                    <i class="fas fa-long-arrow-alt-right"></i>Deneyimli
                                    Personel
                                </li>
                                <li>
                                    <i class="fas fa-long-arrow-alt-right"></i>Uygun Fiyat
                                    Garantisi
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="section-goods">
            <div class="section-default section-goods__inner bg-dark">
                <div class="ui-decor ui-decor_mirror ui-decor_center"></div>
                <div class="container">
                    <div class="text-center">
                        <h2 class="ui-title ui-title_light">Yatlarımız</h2>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <p>
                                    Şirketimiz bünyesinde bulunan Kemer-1, Kemer-2, Yasemen,
                                    Destiny, Lusca ve Chayka isimli yatlarımız ile yılların
                                    getirmiş olduğu bilgi ve deneyimi birleştirerek genç ve
                                    dinamik kadromuz ile yenilikçi ve kaliteli hizmet
                                    sunmaktayız.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="section-goods__list">
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="b-goods">
                                <a class="b-goods__img" href="destiny"><img class="img-scale"
                                        src="/public/theme1/img/main/2.webp" alt="Kemer Yat Turu" /></a>
                                <div class="b-goods__main">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <a class="b-goods__title" href="destiny">Destiny</a>
                                        </div>

                                    </div>
                                    <div class="b-goods-descrip_nev_wrap">
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-user"></i>
                                                <span class="b-goods-descrip__info">12 Kişi</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-list"></i>
                                                <span class="b-goods-descrip__info">Azimut 68 Plus</span>
                                            </div>
                                        </div>
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-arrows-alt-h"></i>
                                                <span class="b-goods-descrip__info"> 22 M</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-columns"></i>
                                                <span class="b-goods-descrip__info">
                                                    Güneşlenme alanı, Masa ...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="b-goods">
                                <a class="b-goods__img" href="chayka"><img class="img-scale"
                                        src="/public/theme1/img/main/3.webp" alt="Kemer Yat Turu" /></a>
                                <div class="b-goods__main">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <a class="b-goods__title" href="chayka">Chayka</a>
                                        </div>

                                    </div>
                                    <div class="b-goods-descrip_nev_wrap">
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-user"></i>
                                                <span class="b-goods-descrip__info">12 Kişi</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-list"></i>
                                                <span class="b-goods-descrip__info">Princess 50</span>
                                            </div>
                                        </div>
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-arrows-alt-h"></i>
                                                <span class="b-goods-descrip__info"> 16 M</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-columns"></i>
                                                <span class="b-goods-descrip__info">
                                                    Güneşlenme alanı, Masa ...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="b-goods">
                                <a class="b-goods__img" href="lusca"><img class="img-scale" src="/public/theme1/img/main/4.webp"
                                        alt="Kemer Yat Turu" /></a>
                                <div class="b-goods__main">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <a class="b-goods__title" href="lusca">Lusca</a>
                                        </div>

                                    </div>
                                    <div class="b-goods-descrip_nev_wrap">
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-user"></i>
                                                <span class="b-goods-descrip__info">12 Kişi</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-list"></i>
                                                <span class="b-goods-descrip__info">Squadron Fairline 55</span>
                                            </div>
                                        </div>
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-arrows-alt-h"></i>
                                                <span class="b-goods-descrip__info"> 17 M</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-columns"></i>
                                                <span class="b-goods-descrip__info">
                                                    Güneşlenme Alanı, Masa ...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="b-goods">
                                <a class="b-goods__img" href="kemer-1"><img class="img-scale"
                                        src="/public/theme1/img/main/5.webp" alt="Kemer Tekne Turu" /></a>
                                <div class="b-goods__main">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <a class="b-goods__title" href="kemer-1">Kemer-1</a>
                                        </div>

                                    </div>
                                    <div class="b-goods-descrip_nev_wrap">
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-user"></i>
                                                <span class="b-goods-descrip__info">170 Kişi</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-list"></i>
                                                <span class="b-goods-descrip__info">Özel Yapım</span>
                                            </div>
                                        </div>
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-arrows-alt-h"></i>
                                                <span class="b-goods-descrip__info">30 M</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-columns"></i>
                                                <span class="b-goods-descrip__info">
                                                    Güneşlenme alanı, Masa ...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="b-goods">
                                <a class="b-goods__img" href="kemer-2"><img class="img-scale"
                                        src="/public/theme1/img/main/6.webp" alt="Kemer Tekne Turu" /></a>
                                <div class="b-goods__main">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <a class="b-goods__title" href="kemer-2">Kemer-2</a>
                                        </div>

                                    </div>
                                    <div class="b-goods-descrip_nev_wrap">
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-user"></i>
                                                <span class="b-goods-descrip__info">100 Kişi</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-list"></i>
                                                <span class="b-goods-descrip__info">Özel Yapım</span>
                                            </div>
                                        </div>
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-arrows-alt-h"></i>
                                                <span class="b-goods-descrip__info">24 M</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-columns"></i>
                                                <span class="b-goods-descrip__info">
                                                    Güneşlenme alanı, Masa ...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="b-goods">
                                <a class="b-goods__img" href="yasemen"><img class="img-scale"
                                        src="/public/theme1/img/main/7.webp" alt="Kemer Tekne Turu" /></a>
                                <div class="b-goods__main">
                                    <div class="row no-gutters">
                                        <div class="col">
                                            <a class="b-goods__title" href="yasemen">Yasemen</a>
                                        </div>


                                    </div>
                                    <div class="b-goods-descrip_nev_wrap">
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-user"></i>
                                                <span class="b-goods-descrip__info">100 Kişi</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-list"></i>
                                                <span class="b-goods-descrip__info">Özel Yapım</span>
                                            </div>
                                        </div>
                                        <div class="b-goods-descrip_nev">
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-arrows-alt-h"></i>
                                                <span class="b-goods-descrip__info">24 M</span>
                                            </div>
                                            <div class="b-goods-descrip__nev">
                                                <i class="fas fa-columns"></i>
                                                <span class="b-goods-descrip__info">
                                                    Güneşlenme alanı, Masa ...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-goods-offers">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="text-end offers-left">
                        <h2 class="ui-title">
                            Eşsiz Bir Mola!<br />
                            Tüm yatlarımız ile hizmetinizdeyiz.
                        </h2>

                        <div class="offers-left-text">
                            <p>
                                Kemer'in berrak mavi sularında yapılan yat turları, sakinliği ve güzelliği bir araya
                                getiriyor. Yatın güvertesinde bronzlaşırken, gökyüzünün mavisiyle denizin mavisinin
                                kucaklaştığını hissedeceksiniz. Yat turu sırasında Kemer Koyları'nın eşsiz güzellikleri
                                ile karşılaşacaksınız.
                            </p>
                        </div>


                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="b-offers-slider ui-slider_arr-prim js-slider"
                        data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "dots": false, "arrows": true, "autoplay": true,   "responsive": [{"breakpoint": 992, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'>
                        <div class="b-offers-nevica">
                            <div class="b-offers-nevica-photo">
                                <img src="/public/theme1/img/main/8.webp" alt="Kemer Yat Turu" />
                            </div>
                            <h3>Evlilik Teklifi</h3>
                            <div class="decore01"></div>
                            <p>
                                Mavi suların kucakladığı romantik atmosferde unutulmaz bir evlilik teklifi için tüm
                                gerekenleri sizinle birlikte planlıyoruz.
                            </p>
                        </div>
                        <!-- end .b-offers-->
                        <div class="b-offers-nevica">
                            <div class="b-offers-nevica-photo">
                                <img src="/public/theme1/img/main/9.webp" alt="Kemer Yat Turu" />
                            </div>
                            <h3>Aile Tatili</h3>
                            <div class="decore01"></div>
                            <p>
                                Aile tatilinizi özel kabinleri ve eğlence olanaklarıyla renklendirerek,
                                sıcak deniz esintisi eşliğinde benzersiz bir deniz kaçamağına dönüştürüyoruz.
                                Yenilikçi hizmet anlayışıyla unutulmaz anılar biriktirmenizi sağlayacak bir tatile
                                davetlisiniz.
                            </p>
                        </div>
                        <!-- end .b-offers-->
                        <div class="b-offers-nevica">
                            <div class="b-offers-nevica-photo">
                                <img src="/public/theme1/img/main/10.webp" alt="Kemer Yat Turu" />
                            </div>
                            <h3>Çeşitli Etkinlikler</h3>
                            <div class="decore01"></div>
                            <p>
                                Turlardan günbatımı partilerine kadar geniş bir yelpazede sunulan etkinliklerle her
                                anınızı
                                eğlence ve macera ile doldurmanızı sağlıyoruz.
                            </p>
                        </div>
                        <!-- end .b-offers-->
                        <div class="b-offers-nevica">
                            <div class="b-offers-nevica-photo">
                                <img src="/public/theme1/img/main/11.webp" alt="Kemer Yat Turu" />
                            </div>
                            <h3>Kutlamalar</h3>
                            <div class="decore01"></div>
                            <p>
                                Mavi Deniz Yatçılık, özel kutlamalarınıza lüks ve deniz manzaralı bir dokunuş katarak,
                                unutulmaz anılarla dolu bir kutlama deneyimi sunuyor.
                            </p>
                        </div>
                        <!-- end .b-offers-->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-video section-default section-goods__inner bg-dark">
            <div class="ui-decor ui-decor_mirror ui-decor_center"></div>

            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-10">
                        <div class="video-info">
                            <p>
                                Mavi bir yolculuğa çıkmak için hemen bizi arayın!
                            </p>
                            <h4>Özel yatlarımız ve tur teknelerimizle hizmetinizdeyiz!</h4>
                            <h5>HEMEN REZERVASYON YAPIN!</h5>
                            <ul>
                                <li>
                                    <i class="fas fa-phone-square"></i> Telefon: +90 532 393 91 62
                                </li>
                                <li>
                                    <i class="fas fa-envelope-square"></i> Email:
                                    <a href="mailto:info@mavidenizyat.com">info@mavidenizyat.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-2 col-lg-2">
                        <a class="video-btn venobox ternary-video-btn-style vbox-item popup-youtube" data-vbtype="video"
                            data-autoplay="true" href="https://youtu.be/GyNLdriKVS8"><i class="fa fa-play">
                            </i>
                        </a>

                    </div> -->
                </div>
            </div>
        </section>
        <section class="section-gallery">
            <div class="container">
                <div class="text-center">
                    <h2 class="ui-title">Mini Galeri</h2>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p>
                                Tüm Yatlarımız
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-gallery js-zoom-gallery">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-sm-6">
                        <a class="ui-gallery__img js-zoom-gallery__item" href="/public/theme1/img/chayka/1.webp"><img
                                class="img-scale" src="/public/theme1/img/main/12.webp" alt="Kemer Yat Turu" /></a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a class="ui-gallery__img js-zoom-gallery__item" href="/public/theme1/img/chayka/2.webp"><img
                                class="img-scale" src="/public/theme1/img/main/1.webp" alt="Kemer Yat Turu" /></a>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <a class="ui-gallery__img js-zoom-gallery__item" href="/public/theme1/img/lusca/1.webp"><img
                                class="img-scale" src="/public/theme1/img/main/14.webp" alt="Kemer Yat Turu" /></a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="ui-gallery__img js-zoom-gallery__item" href="/public/theme1/img/destiny/5.webp"><img
                                class="img-scale" src="/public/theme1/img/main/15.webp" alt="Kemer Yat Turu" /></a>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-5 col-sm-6">
                        <a class="ui-gallery__img js-zoom-gallery__item" href="/public/theme1/img/kemer1/1.webp"><img
                                class="img-scale" src="/public/theme1/img/main/16.webp" alt="Kemer Yat Turu" /></a>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <a class="ui-gallery__img js-zoom-gallery__item" href="/public/theme1/img/kemer2/1.webp"><img
                                class="img-scale" src="/public/theme1/img/main/17.webp" alt="Kemer Yat Turu" /></a>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <a class="ui-gallery__img js-zoom-gallery__item" href="/public/theme1/img/yasemen/1.webp"><img
                                class="img-scale" src="/public/theme1/img/main/18.webp" alt="Kemer Yat Turu" /></a>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <a class="ui-gallery__img js-zoom-gallery__item" href="/public/theme1/img/yasemen/2.webp"><img
                                class="img-scale" src="/public/theme1/img/main/19.webp" alt="Kemer Yat Turu" /></a>
                    </div>
                </div>
            </div>
        </section>