theme1 main template
<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
</head>
<body>
    <header>
        <!-- Buraya başlık veya menü gibi ortak içerikler ekleyebilirsiniz -->
    </header>
    <main>
        <!-- "todos.hbs" sayfasının içeriği buraya gelecek -->
        {{{body}}}
    </main>
    <footer>
        <!-- Buraya altbilgi veya diğer ortak içerikler ekleyebilirsiniz -->
    </footer>
</body>
</html>